data/
bin/*.fastq
bin/*.mk
bin/*.fasta
bin/*.csv
bin/bowtieFile/
bin/fastx/
bin/flex/
bin/trim/
CLAN_release/
hyb-master/
bin/com_clan
bin/com_hyb
bin/com_hybUA
bin/com_pir
bin/compare
bin/run.sh
bin/s52
